<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="/assets/styles/style.css">
    </head>
    <body>
        <header class="container">
            <h2><a href="/" class="home-link text-decoration-none">{{ metadata.title }}</a></h2>
            <nav>
                <ul class="nav">
                    {% for entry in collections.all | eleventyNavigation("header") %}
                        <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <main style="background-color:red;">
            {{ content | safe }}
        </main>

        <footer class="container-fluid bg-primary text-white p-4">
            <div class="container">
                <div class="row">
                    <div id="logo-group" class="col">
                        <a href="/" aria-label="go back to home">
                            <img class="logo-img" alt="logo" decoding="async" src="/assets/images/logo.svg" width="240" aria-hidden="true" loading="lazy">
                        </a>
                    </div>
                    
                    <nav class="col">
                        <h3>Quick Links</h3>
                        <ul class="footer-nav">
                            {% for entry in collections.all | eleventyNavigation("footer") %}
                                <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div id="contact-info" class="col">
                        <h3>Contact Information</h3>
                        <ul class="contact-info-list">
                            {% for item, value in metadata.contact %}
                                <li class="contact-item">
                                    <img src="/assets/icons/{{ item }}.svg" alt="{{ item | capitalize }} icon" width="20" height="20">
                                    <a class="light" {% if item === "phone" %}href="tel:{{ value | replace(r/\D/g, '') }}"{% elif item === "email" %}href="mailto:{{ value }}"{% endif %}>{{ value }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div id="bottom" class="row text-center">
                <p class="col">{{ metadata.copyright }}</p>
                <p class="col"><a class="light" href="/privacy/">Privacy Policy</a> | <a class="light" href="/terms/">Terms of Use</a></p>
            </div>

    </body>
</html>